main{
    display: grid;
    padding: 1.5rem;
    margin: auto;
    background: $White;
    border-radius: 10px 10px 28% 10px;
    width: 450px;
    height: 350px;
    position: relative;
    

    @media(max-width: 37.5rem){
        width: 300px;
        height: 350px;
    }
}

.mode-toggle{
    position: absolute;
    background: $Purple;
    padding: .5rem;
    max-width: 12%;
    border-radius: 50%;
    right: 1.5rem;
    top: 5.4rem;
    color: $Off-white;
    cursor: pointer;

    @media(max-width: 37.5rem){
        right: 40%;
        top: 5.8rem;
    }

    &:hover{
        background: $Off-black;
    }
}